---
title: "Alex and Christina's Blog!"
layout: splash
permalink: /
date: 2019-09-07T11:48:41-04:00
header:
  overlay_color: "#000"
  overlay_filter: "0.05"
  overlay_image: /assets/images/MVIMG_20190420_203231-alex-ava-sunset.jpg
  caption: "Alex and Ava at a sunset in Independence, KS"
excerpt: "In which we document our family's adventures"
intro: 
  - excerpt: 'Cool. Cool cool cool.'
feature_row:
  - image_path: assets/images/MVIMG_20190825_115508-christina-preggo-pier.jpg
    alt: "placeholder image 1"
    title: "Christina"
    excerpt: "This is some sample content that goes here with **Markdown** formatting."
  - image_path: /assets/images/MVIMG_20190830_182705-ava-floor.jpg
    alt: "placeholder image 2"
    title: "Ava"
    excerpt: "This is some sample content that goes here with **Markdown** formatting."
    url: "about"
    btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: https://lh3.googleusercontent.com/Ugv9lfSuDkdK_aBj81jZRL9LsbzS8sW77t4xz_B7gdX7FjC4q0hersWK0RmZj0EstqvvYF2SAuWKxa_CIxbLPF8J_nbCAyUvoMDLThi5wkNAbDssvmrBj9AYJB9OMyogenwkNf8w4jWAtObbFrZLMMQH1OWJz5-kJ6T4HWktoTBQr9gIG8__RU-EXbfsDPDRQcZt8ZZNCCyQT2Cc9B57O3Ywp6zJt-mXUBhcBf1iP1E5Mtcpx71R6eZIBTQbIdvPY3G_Dtuj8bsf2lmuvq53no9P_LH3X3YigrLP1xs2Ee10Rg1n_gICnfLH5aqIoL7RM0OH3YmNQFUDWc7fdXxeJm-YLKfo9AdlejgazwRP4efuBEahFhaAkHW1KQee2fnaIh24YFVnlQhY6ILUYVVXk_px6alo8gATa_tMSnebw8RTqoEHPvZgPDV5Q9LFPwD-vGbWDq7i1wy9cfatIns8N6bGzx9OAJ23-FA9eJcd3EMRFjl9orxN-9DJkg6EIgpspsUjfpPmzZHCy-BUdI3Xf8X4USJEMOI6UDKSbpbH1JJsbnDnuE69yWAI7G4YRbMx-FUldJ3aq2CPtPDmlaXKrvOyWYWmRZAeKY2Vvtf4mO_W2PFC2-MxhsIILFKgSXlEoRAxIx878iWMazQnc-PpmJWQlBlHko3lFc7srz0LrHs2ggyVHN0RtnKe02-V0893-rzOoeDA7Pq2LTxj1UAl61ZSfmsu2h-NjGn3HW3ArAvj-FQ7DA=w954-h908-no
    title: "Quentin"
    excerpt: "This is some sample content that goes here with **Markdown** formatting."
feature_row2:
  - image_path: /assets/images/unsplash-gallery-image-2-th.jpg
    alt: "placeholder image 2"
    title: "Placeholder Image Left Aligned"
    excerpt: 'This is some sample content that goes here with **Markdown** formatting. Left aligned with `type="left"`'
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--primary"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}
